<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mantenimiento Venta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!--Inicio Barra de Navegacion-->
    <style>
      nav {
        font-size: 15px;
      }

      #brand {
        font-family: "Berkshire Swash";
        font-size: 30px;
      }
    </style>
    <div style="height: 70px; width: 100%"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand logo-font" href="/inicio" id="brand">
          Ibrahmi
        </a>
        <!-- links toggle -->
        <button
          class="navbar-toggler order-first"
          type="button"
          data-toggle="collapse"
          data-target="#links"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <!-- account toggle -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#account"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="links">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listadoContenido">Contenidos</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Mantenimientos
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/mantenimiento/contenido"
                  >Peliculas</a
                >
                <a class="dropdown-item" href="/mantenimiento/usuario"
                  >Usuarios</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ventas">Ventas</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Reportes
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Peliculas</a>
                <a class="dropdown-item" href="#">Usuarios</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="account">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/ventas">
                <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Fin Barra de Navegacion-->
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-3">
          <h1>Mantenimiento de Ventas</h1>
          <form action="/ventas/guardar" method="post" th:object="${venta}">
            <div class="form-group">
              <label for="inputCod">Código Venta</label>
              <input
                type="text"
                th:field="*{id_venta}"
                class="form-control"
                id="inputCod"
                placeholder="Código"
              />
            </div>
            <div class="form-group">
              <label for="inputContenido">Contenido</label>
              <select
                id="inputContenido"
                class="form-control"
                th:field="*{contenidoId}"
              >
                <option value="-1">Seleccione...</option>
                <option
                  th:each="co : ${lstContenidos}"
                  th:value="${co.id_con}"
                  th:text="${co.nombre}"
                ></option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputFecha">Fecha Registro</label>
              <input
                type="date"
                th:field="*{fecha_registro}"
                class="form-control"
                id="inputFecha"
                placeholder="Ingrese la fecha 2023-11-02"
              />
            </div>
            <div class="form-group">
              <label for="inputTotal">Total (S/.)</label>
              <input
                type="number"
                th:field="*{total}"
                class="form-control"
                id="inputTotal"
                placeholder="Ingrese el total"
                step="0.01"
              />
            </div>
            <div class="form-group">
              <label for="inputUsu">Usuario</label>
              <select
                id="inputUsu"
                class="form-control"
                th:field="*{usuarioId}"
              >
                <option value="-1">Seleccione...</option>
                <option value="1">Cliente</option>
              </select>
            </div>
            <div class="text-center">
              <div
                th:text="${mensaje}"
                th:class="${cssmensaje}"
                role="alert"
              ></div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/ventas" class="btn btn-secondary">Limpiar</a>
            <a href="/ventas/reporte" class="btn btn-info" target="_blank"
              >Pagar</a
            >
            <a
              href="/ventas/todo"
              class="btn btn-danger ml-5 mt-3"
              onclick="return confirm('¿Está seguro de eliminar toda la tabla?');"
              >Borrar todo</a
            >
          </form>
          <div th:text="${mensaje}"></div>
        </div>
        <div class="col-6 col-sm-9">
          <h3></h3>
          <table class="table text-center">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Contenido</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Usuario</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="v : ${lstVentas}">
                <td th:text="${v.id_venta}"></td>
                <td th:text="${v.contenidoId.nombre}"></td>
                <td th:text="${v.fecha_registro}"></td>
                <td th:text="${v.total}"></td>
                <td th:text="${v.usuarioId.id_usuario}"></td>
                <td style="min-width: 116px">
                  <a
                    th:href="@{/ventas/editar/}+${v.id_venta}"
                    class="btn btn-success"
                    >Edit</a
                  >
                  <a
                    th:href="@{/ventas/eliminar/}+${v.id_venta}"
                    class="btn btn-dark"
                    onclick="return confirm('¿Está seguro de eliminar el registro?');"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</html>
